*{
	margin: 0;
	padding: 0;
}

.container{
	width: 920px;
	height: 600px;
	margin: 10% auto;
}

.tree{
	display: flex;
    border: 1px solid #009a61;
    width: 900px;
    height: 250px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tree div{
	display: flex;
	border: 1px solid #009a61;
	width: 44%;
	height: 70%;
	margin: auto auto;
}

button{
	width: 110px;
	height: 42px;
	font-size: 20px;
	text-align: center;
	padding: 2px;
	border-radius: 6px;
	color: white;
	background-color: #009a61;
}