main{
	background-image: url(../images/bear.jpg);
	width: 480px;
	height: 360px;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	padding-top: 110px;
	line-height: 30px;
	font-size: 20px;
}

