*{
	margin: 0;
	padding: 0;
}

td{
	width: 60px;
	height: 60px;
	border: 1px solid black;
}

.container{
	width: 800px;
	height: 800px;
	margin: 30px auto;
}

.control{
	width: 400px;
	height: 30px;
	margin: -120px auto;
}

input{
	width: 200px;
	height: 28px;
	font-size: 18px;
}

button{
	width: 60px;
	height: 30px;
	font-size: 18px;
}

.up{
	animation: myfirst 3s;
	-moz-animation: myfirst 3s;	/* Firefox */
	-webkit-animation: myfirst 3s;	/* Safari 和 Chrome */
	-o-animation: myfirst 3s;	/* Opera */
	border-top: 20px solid blue;
	height: 40px;
	background-color: red;
}

.down{
	border-bottom: 20px solid blue;
	height: 40px;
	background-color: red;
}

.left{
	border-left: 20px solid blue;
	width: 40px;
	background-color: red;
}

.right{
	border-right:20px solid blue;
	width: 40px;
	background-color: red;
}

@keyframes myfirst
{
from {transform:rotate(0deg);}
to {transform:rotate(45deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
from {transform:rotate(0deg);}
to {transform:rotate(45deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {transform:rotate(0deg);}
to {transform:rotate(45deg);}
}

@-o-keyframes myfirst /* Opera */
{
from {transform:rotate(0deg);}
to {transform:rotate(45deg);}
}