*{
	margin: 0;
	padding:0;
}

main{
	position: relative;
	width: 860px;
	height: 480px;
	background-color: rgb(225,225,225);
	margin: 0 auto;
	padding: 60px;
}

#poster{
	position: absolute;
	float: right;
	right: 90px;
	top: 80px;
	width: 280px;
	height: 280px;
	border: none;
	border-radius: 140px;
}

audio{
	margin-top: 80px;
}

h2,h5{
	margin-top: 20px;
	color: #999;
}

.glyphicon{
	font-size: 28px;
}

.progress{
	width: 380px;
	color: green;
	height: 4px;
}
