*{
	margin: 0;
	padding: 0;
}

.container{
	width: 800px;
	height: 200px;
	margin: 120px auto;
}

ul{
	list-style: none;
}

li{
	position: relative;
	float: left;
	margin: 12px 1px 10px 1px;
	width: 25px;
	height: 20px;
	background-color: red;
	color: white;
	text-align: center;
}

#form{
	position: relative;
	float: left;
	width: 800px;
	height: 400px;
	background-color: #ccc;
	margin-bottom: 20px;
}

#form>p{
	position: absolute;
	bottom: 0px;
	float: left;
	margin-left: 10px;
}

#compares{
	position: relative;
	float: left;
	width: 800px;
	height: 200px;
	background-color: #eac;
	margin-bottom: 200px;
	color: green;
}

#compares>span{
	margin: 6px;
}