*{
	margin: 0;
	padding: 0;
}

#main{
	display: flex;
	width: 1280px;
	height: 360px;
	border: 1px solid #913a6c;
	margin: 120px auto;
}

#main div{
	display: flex;
	width: 32%;
	height: 70%;
	border: 1px solid #913a6c;
	margin: auto 2px ;
	padding: 2px;
}
